.selector-container .option-list {
  display: flex;
  width: 680px;
  position: relative;
  margin: auto;
  margin-top: 40px
}

.selector-container .option-list .option {
  width: 150px;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background: #ffd705
}

.selector-container .hot-news {
  width: 600px;
  position: relative;
  margin: auto
}

.selector-container .hot-news .hot-news-item {
  margin-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px
}

.selector-container .hot-news .hot-news-item .hot-news-item-title {
  font-size: 30px;
  margin-bottom: 10px
}

.selector-container .hot-news .hot-news-item .hot-news-item-content img {
  width: 100%
}

.selector-container .lastest-news {
  width: 600px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px
}

.selector-container .lastest-news .lastest-news-item .lastest-news-item-title {
  font-size: 30px;
  margin-bottom: 10px
}

.selector-container .lastest-news .lastest-news-item .lastest-news-item-content img {
  width: 30%;
  margin-right: 3.2%
}

.selector-container .near-news {
  width: 600px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px
}

.selector-container .near-news .near-news-item .near-news-item-title {
  font-size: 30px;
  margin-bottom: 10px
}

.selector-container .near-news .near-news-item .near-news-item-content img {
  width: 100%
}

.selector-container .downloadApp {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  user-select: none
}